<div class="flex flex-col justify-center items-center w-full mt-20 px-2">
    <div class="flex space-x-2 px-2 items-center w-1/2 h-36 border-2 border-black rounded-sm shadow-sm ">
        <img src="../../assets/bodybuilder-331670_640.jpg" class="w-24 h-14" alt="">
        <p class=" text-justify font-semibold leading-6">Titre : Programme d'Entraînement Complet pour la Musculation : Maximisez votre Force et votre Physique</p>
    </div>
    <div class="h-auto my-1 leading-4 w-1/2 text-black text-justify text-sm">
        <p class="">
            Introduction : <br><br>
La musculation est un moyen efficace d'améliorer votre force, votre condition physique et de sculpter votre corps. Que vous soyez débutant ou expérimenté, un programme d'entraînement structuré peut vous aider à atteindre vos objectifs. Dans cet article, nous vous présenterons un programme d'entraînement complet pour la musculation qui vous permettra de maximiser vos résultats.
<br><br>
Section 1 : Établissement des Objectifs <br><br>
Avant de commencer tout programme d'entraînement, il est important de définir clairement vos objectifs. Que vous cherchiez à gagner en masse musculaire, à améliorer votre force, ou à tonifier votre corps, vos objectifs vous guideront tout au long de votre parcours.
<br><br>
Section 2 : Le Programme d'Entraînement <br><br>
Notre programme d'entraînement est basé sur un cycle de quatre semaines, avec trois à quatre séances par semaine. Chaque séance cible différents groupes musculaires pour un entraînement complet.
<br><br>
<span class="text-base font-semibold">Jour 1 : Entraînement du haut du corps </span><br><br>

Échauffement : 5-10 minutes de cardio léger (vélo stationnaire, tapis roulant, etc.) <br><br>
Développé couché : 3 séries de 8-10 répétitions <br><br>
Tractions ou tirages à la barre : 3 séries de 8-10 répétitions <br><br>
Développé militaire : 3 séries de 8-10 répétitions <br><br>
Curl biceps avec haltères : 3 séries de 10-12 répétitions <br><br>
Extensions triceps à la poulie haute : 3 séries de 10-12 répétitions<br><br>
Abdominaux : 3 séries d'exercices au choix (crunch, planche, etc.) de 10-15 répétitions<br><br>
<span class="text-base font-semibold">Jour 2 : Entraînement des jambes </span><br><br>

Échauffement : 5-10 minutes de cardio léger (vélo stationnaire, tapis roulant, etc.)<br><br>
Squat : 3 séries de 8-10 répétitions<br><br>
Fentes avec haltères : 3 séries de 8-10 répétitions par jambe<br><br>
Soulevé de terre : 3 séries de 8-10 répétitions<br><br>
Mollets debout à la machine : 3 séries de 10-12 répétitions<br><br>
Abdos : 3 séries d'exercices au choix (relevés de jambes, crunch inversé, etc.) de 10-15 répétitions <br><br>

<span class="text-base font-semibold">Jour 4 : Entraînement du haut du corps</span><br><br>

Échauffement : 5-10 minutes de cardio léger (vélo stationnaire, tapis roulant, etc.) <br><br>
Développé incliné avec haltères : 3 séries de 8-10 répétitions <br><br>
Rowing à la barre : 3 séries de 8-10 répétitions <br><br>
Élévations latérales : 3 séries de 10-12 répétitions <br><br>
Curl marteau avec haltères : 3 séries de 10-12 <br><br>
        </p>

    </div>
</div>
