<div class="py-3 w-full h-auto mt-16  px-7 bg-teal-100 ">
    <p class="text-5xl font-medium py-3 leading-6 my-1 ">Calendrier</p>
    <div class="flex flex-wrap space-x-2 space-y-2 px-2 ">
        <div class="w-80 flex flex-col ml-2 shadow-lg ">
            <div class="w-full h-24 space-y-1 px-3 pt-2 bg-slate-200 flex flex-col mt-2">
                <span class="px-1 w-20 bg-green-300 py-1 leading-5 text-lg font-normal rounded-sm text-white">classes</span>
                <p class="text-xl font-semibold">Monday</p>
            </div>
            <div class="flex flex-col space-y-2 py-2 px-1 bg-white">
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
            </div>
        </div>
        <div class="w-80 flex flex-col  shadow-lg ">
            <div class="w-full h-24 space-y-1 px-3 pt-2 bg-slate-200 flex flex-col mt-2">
                <span class="px-1 w-20 bg-green-300 py-1 leading-5 text-lg font-normal rounded-sm text-white">classes</span>
                <p class="text-xl font-semibold">Tuesday</p>
            </div>
            <div class="flex flex-col space-y-2 py-2 px-1 bg-white">
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
            </div>
        </div>
        <div class="w-80 flex flex-col  shadow-lg ">
            <div class="w-full h-24 space-y-1 px-3 pt-2 bg-slate-200 flex flex-col mt-2">
                <span class="px-1 w-20 bg-green-300 py-1 leading-5 text-lg font-normal rounded-sm text-white">classes</span>
                <p class="text-xl font-semibold">Wednesday</p>
            </div>
            <div class="flex flex-col space-y-2 py-2 px-1 bg-white">
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
            </div>
        </div>
        <div class="w-80 flex flex-col  shadow-lg ">
            <div class="w-full h-24 space-y-1 px-3 pt-2 bg-slate-200 flex flex-col mt-2">
                <span class="px-1 w-20 bg-green-300 py-1 leading-5 text-lg font-normal rounded-sm text-white">classes</span>
                <p class="text-xl font-semibold">Thirsday</p>
            </div>
            <div class="flex flex-col space-y-2 py-2 px-1 bg-white">
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
            </div>
        </div>
        <div class="w-80 flex flex-col  shadow-lg ">
            <div class="w-full h-24 space-y-1 px-3 pt-2 bg-slate-200 flex flex-col mt-2">
                <span class="px-1 w-20 bg-green-300 py-1 leading-5 text-lg font-normal rounded-sm text-white">classes</span>
                <p class="text-xl font-semibold">Friday</p>
            </div>
            <div class="flex flex-col space-y-2 py-2 px-1 bg-white">
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
            </div>
        </div>
        <div class="w-80 flex flex-col  shadow-lg ">
            <div class="w-full h-24 space-y-1 px-3 pt-2 bg-slate-200 flex flex-col mt-2">
                <span class="px-1 w-20 bg-green-300 py-1 leading-5 text-lg font-normal rounded-sm text-white">classes</span>
                <p class="text-xl font-semibold">Saturday</p>
            </div>
            <div class="flex flex-col space-y-2 py-2 px-1 bg-white">
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
            </div>
        </div>
        <div class="w-80 flex flex-col  shadow-lg ">
            <div class="w-full h-24 space-y-1 px-3 pt-2 bg-slate-200 flex flex-col mt-2">
                <span class="px-1 w-20 bg-green-300 py-1 leading-5 text-lg font-normal rounded-sm text-white">classes</span>
                <p class="text-xl font-semibold">Sunday</p>
            </div>
            <div class="flex flex-col space-y-2 py-2 px-1 bg-white">
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
                <div class="flex justify-between items-center font-normal text-base text-gray-500">
                    <p >Pilate</p>
                    <p >10:00 - 11:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
