<div class="my-10 px-5 grid grid-cols-12 gap-x-2 w-full h-full">
    <div class="col-span-3 h-full py-3">
     <div class="rounded-md border border-gray-500 shadow-sm ">
      <p class="text-center font-semibold text-2xl px-2 underline leading-5 py-1">Programme</p>
      <div class="flex justify-start flex-col space-y-1">
        <P class="font-normal  border-b-[1px] cursor-pointer border-blue-200 py-1 "><span class="px-2">- Musculation (15)</span>  </P>
        <P class="font-normal  border-b-[1px] cursor-pointer border-blue-200 py-1 "><span class="px-2">- Fitness (11)</span>  </P>
        <P class="font-normal  border-b-[1px] cursor-pointer border-blue-200 py-1 "><span class="px-2">- Cardio (05)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Poids (02)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Maintenance (10)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- PPG (02)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Nutrition (15)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Conseils techniques (25)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Running (12)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Marche (07)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Souplesse (07)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Gymnastique (14)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Coordination (17)</span>  </P>
        <P class="font-normal  border-b-[1px] border-blue-200 py-1 "><span class="px-2">- Equilibre (07)</span>  </P>
      </div>
     </div>
    </div>
    <div class=" col-span-6 py-3 px-2 bg-blue-100">
      <div class="grid grid-cols-3 gap-y-28 gap-x-3 w-full ">
        <div class="w-full rounded-md  bg-white border-gray-200 ">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/man-2604149_640.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting. <span class="text-blue-400">Voir plus ...</span>
              </p>
            </mat-card-content>
            <mat-card-actions class="flex space-x-2">
              <button mat-button (click)="choisir()" color="" style="background-color: green;" class="bg-green-400">S'inscrie</button>
              <button mat-button  style="background-color: red;"  >Se Désinscrire</button>
            </mat-card-actions>
          </mat-card>
          
        </div>
        <div class="w-full rounded-md  bg-white border-gray-200 ">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image2"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/fitness-465205_640.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting. <span class="text-blue-400">Voir plus ...</span>
              </p>
            </mat-card-content>
            <mat-card-actions class="flex space-x-2">
              <button mat-button (click)="choisir()" color="" style="background-color: green;" class="bg-green-400">S'inscrie</button>
              <button mat-button  style="background-color: red;"  >Se Désinscrire</button>
            </mat-card-actions>
          </mat-card>
          
        </div>
        <div class="w-full rounded-md  bg-white border-gray-200 ">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image3"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/dumbbell-2747841_640.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting. <a href="programmeunique"> <span  class="text-blue-400">Voir plus ...</span></a>
              </p>
            </mat-card-content>
            <mat-card-actions class="flex space-x-2">
              <button (click)="choisir()" mat-button color="" style="background-color: green;" class="bg-green-400">S'inscrie</button>
              <button mat-button  style="background-color: red;"  >Se Désinscrire</button>
            </mat-card-actions>
          </mat-card>
          
        </div>
       
        
        
       
      </div>
    </div>
    <div class="col-span-3">

    </div>
</div>